#body {
    width: 100%;
    margin: 0;
}

#baner {
    width: 100%;
    text-align: center;
    border: solid 1px black;
}

#menu {
    width: 40%;
    height: auto;
    /*border: solid 1px black;*/
    float: left;
}

#podstrony {
    width: 60%;
    /*border: solid 1px black;*/
    float: left;
    height: 150px;
}