body {
    background: #4A7684;
    color: #FFFFFF;
}

#baner, #panel_lewy, #stopka {
    text-align: center;
}

#baner, #stopka {
    font-family: "Arial";
    margin: 20px;
}

#panel_lewy {
    width: 65%;
    height: 500px;
    float: left;
    background: #FFFFFF;
    color: black;
}

#tabela {
    width: 100%;
    height: 400px;
    color: black;
    background: grey;
    border-color: white;
}

#panel_prawy {
    width: 35%;
    height: 500px;
    float: right;
}

.linki {
    color: yellow;
}